
/*CSS Reset take from meyerweb.com
 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0968A1;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}
#wrapper {
    margin:auto;
    max-height: 500px;
  }
li {
  list-style-type: none;
}
.showDiv {
  display: block;
}

/*HOVER EFFECT*/
li.hoverDiv a {
  position:relative;
  text-transform: normal;
  letter-spacing: .1em;
  text-decoration: none;
  color: #fff;
}

li.hoverDiv a:hover {
  color: #fff;
}

li.hoverDiv a:before {
  content: "";
  position: absolute;
  margin-top: 1.5em;
  width: 100%;
  height: 1px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

li.hoverDiv a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}
a.hoverDiv {
  position:relative;
  text-transform: normal;
  letter-spacing: .1em;
  text-decoration: none;
  color: #fff;
}

a.hoverDiv:hover {
  color: #fff;
}

a.hoverDiv:before {
 content: "";
  position: absolute;
  margin-top: 1.5em;
  width: 100%;
  height: 1px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

a.hoverDiv:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}
span.hoverDiv {
  position:relative;
  text-transform: normal;
  letter-spacing: .1em;
  text-decoration: none;
  color: #fff;
}

span.hoverDiv:hover {
  color: #fff;
}

span.hoverDiv:before {
  content: "";
  position: absolute;
  margin-top: .3em;
  width: 100%;
  height: 1px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

span.hoverDiv:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}

/*HERO SECTION*/
.hero_statement {
  color: white;
  display: block;
  position: absolute;
    top: 50%;
    left: 50%;
     width: 50%;
        margin-top: -7%;
       margin-left: -25%;
  text-align: center;
}

.hero_statement h1 {
    font-size: 90px;
  text-align: center;
}

.hero_statement h4 {
  font-size: 60px;
  text-align: center;
}

/*NAV BUTTON*/
.nav {
  margin: 3em 0 0 3em;
}
/*.nav_button {
  width: 150px;
  height: 150px;
  background-color: red;
  border: 2px solid white;
   shape-inside: polygon(250px 0, 500px 0, 500px 180px, 500px 320px, 500px 500px, 250px 500px, 0 500px, 0 320px, 0 180px, 0 0);
  -webkit-clip-path: polygon(250px 0, 500px 0, 500px 180px, 500px 320px, 500px 500px, 250px 500px, 0 500px, 0 320px, 0 180px, 0 0);
  shape-padding: 10px;
  transition: all 3s ease;
}*/

/*.nav_button:hover{
  shape-inside: polygon(250px 0, 500px 0, 500px 180px, 500px 320px, 500px 500px, 250px 500px, 0 500px, 0 320px, 0 180px, 0 0);
  -webkit-clip-path: polygon(250px 0, 500px 0, 500px 180px, 500px 320px, 500px 500px, 250px 500px, 0 500px, 0 320px, 0 180px, 0 0);
}*/
/*
.nav_button:hover{
shape-inside: polygon(nonzero,1225px 176px, 1170px 134px, 1186px 113px, 1240px 155px, 1260px 130px, 1289px 195px, 1298px 216px, 1206px 197px);
-webkit-clip-path: polygon(nonzero,1225px 176px, 1170px 134px, 1186px 113px, 1240px 155px, 1260px 130px, 1289px 195px, 1298px 216px, 1206px 197px);
}
*/
.nav_button {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 50;
  shape-padding: 10px;
  -webkit-transition-duration: 5s; /* Safari */
    transition-duration: 5s;
  background: #1e90ff;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}


 /* -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
*/
/*Nav Container*/
.nav_page {
    top: 18%;
    left: 42.5%;
}

.nav_menu {
  font-size: 45px;
  text-align: center;
  margin: 25px 0 15px 0;
  color: white;
}

 .education {
  width: 70%;
}

.container {
  padding-top: 5%;
  text-align: center;
  position: absolute;
  display: none;
  color: white;
}

/*ABOUT SECTION*/
.about_page {
    z-index: 5;
    top: 11%;
    left: 2%;
}

.about_body p {
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.about_title {
  margin-bottom: 6%;
}
.about_body h1 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 40px;
}

.about_body p {
  margin-bottom: 40px;
}


/*WORK*/
.work_page {
    z-index: 5;
    top: 46%;
    width: 100%;
    left: 36%;
    margin-top: -18%;
    margin-left: -36%;
}

.work_title h1 {
    font-size: 70px;
    text-align: center;
    padding: 3% 0 1% 0;
    color: white;
}

.work_body {
    display: inline-flex;
    text-align: center;
    padding: 0;
}
.work_list {
    display: block;
    font-size: 40px;
    text-align: center;
    margin: 0 10px;
}

ul.work_list.per > li, ul.work_list.pro > li {
    display: none;
}

.work_list h3 {
  margin-bottom: 2%;
}

.personal_items {
  width: 103%;
  display: block;
  font-size: 20px;
  text-align: center;
}
.professional {
  font-size: 40px;
  color: white;
  padding: 10px 0 0 40px;
  margin: 0 -5px 0 0;
}

.personal {
  color: white;
  font-size: 40px;
  padding: 10px 40px 0 20px;
  margin: 0 0 0 20px;
}

.work_description {
    margin: 3% 0 0 15%;
   width: 70%;
   font-size: 20px;
  position: fixed;
}
.social {
  display: block;
  letter-spacing: .1em;
  font-size: 45px;
  text-align: center;
}
.connect_list {
  line-height: 60px;
}
.altcoin_details {
  display: none;
}

.tripplanner_details {
  display: none;
}

.steelys_details {
  display: none;
}

.shmabble_details {
display: none;
}

.atmosphere_details {
  display: none;
}

.eco_details {
  display: none;
}
.work_item {
  text-decoration: none;
   font-size: 0.5em;
}
a.work_item {
  color: white;
  display: none;
}

.tripplanner_details {
  display: none;
}


/*EDUCATION*/
.education_page {
    top: 15%;
    left: 20%;
    z-index: 5;
  }






.course {
  display: none;
  position: fixed;
  font-size: 32px;
  line-height: 1.5em;
  color: white;
  font-size: 20px;
  padding: 0 0 0 40px;
  margin: 0 0 0 20px;
  width: 500px;

}





.education_title {
  display: inline-flex;
    font-size: 70px;
    text-align: center;
    padding: 0 0 5% 0;
    color: white;
    margin: 0 75% 0;
}

.education_body {
    width: 100%;
    margin-left: -10%;
    margin-top: -5%;
    float: left;
}

.education_list li {
    margin-bottom: 25%;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.education_description {
  float: right;
  position: fixed;
}
li.nav_menu a:before {
margin-top: 1.1em;
}


ul.app_academy.course {
    left: 52%;
}
p.app_academy {
  display: none;
  color: red;
  font-size: 28px;
  width: 800px;
  margin: 0 auto;
}

p.u_of_o {
  display: none;
  color: red;
  font-size: 32px;
  margin: 0 auto;
}
ul.u_of_o.course {
  left: 52%;
}

li.details_projects {
      margin: -5px;
    font-size: 24px;
}

li.u_of_o.details_projects {
    width: 500px;
    margin-top: 15px;
    line-height: 1.1;
}

img.general_assembly {
  width: 500px;
}
ul.general_assembly.course {
    left: 52%;
}
/*p.general_assembly {
  display: none;
  color: blue;
  font-size: 26px;
  width: 400px;
  margin: 0 auto;
}*/
img.app_academy, img.u_of_o {
  width: 400px;
}

li.details_title {
  margin: 0 auto;
  padding: 0;
}

li.details_description{
  margin-bottom: 15px;
}


/*li.ed_item {
  font-size: 32px;
  color: white;
  margin-top: 3.125em;
}*/

ul.course {
  font-size: 30px;
}
/*SOCIAL*/
.connect_page {
    z-index: 5;
    top: 19%;
    left: 36%;
}

.linked_in {
    font-size: 45px;
  color: white;
  padding: 10px 40px 0 40px;
  margin: 0 20px 0 0;
}

.github {
    font-size: 45px;
  color: white;
  padding: 10px 40px 0 40px;
  margin: 0 20px 0 0;
}

.twitter {
    font-size: 45px;
  color: white;
  padding: 10px 40px 0 40px;
  margin: 0 20px 0 0;
}

.stack_overflow {
    font-size: 45px;
  color: white;
  padding: 10px 40px 0 40px;
  margin: 0 20px 0 0;
}

a {
  color: white;
  text-decoration: none;
}

.work_item {
  line-height: 30px;
}

